@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #161616;
  --foreground: #474554;
}

html {
  scroll-behavior: smooth;
  color: white;
}

#project_content:nth-child(even) {
  flex-direction: row-reverse;
}